.headerSection {
    background: white;
}
.headerSection .upperHeader {
    position: relative;
}
.headerSection .upperHeader .upperHeaderBackground {
    width: 100%;
    height: 3.25rem;
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    z-index: 1;
}
.headerSection .upperHeader .upperHeaderBackground .orangeDiv {
    height: 100%;
    width: 45%;
    background: orange;
}
@media only screen and (max-width: 820px) {
    .headerSection .upperHeader .upperHeaderBackground .orangeDiv {
        width: 50%;
   }
}
.headerSection .upperHeader .upperHeaderBackground .darkDiv {
    height: 100%;
    width: 65%;
    background: darkgreen;
}
@media only screen and (max-width: 820px) {
    .headerSection .upperHeader .upperHeaderBackground .darkDiv {
        width: 50%;
   }
}
.headerSection .upperHeader .upperHeaderText {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 3.25rem;
    color: white;
}
.headerSection .upperHeader .upperHeaderText .phoneText {
    z-index: 1000;
    background: orange;
    height: 100%;
    padding-right: 1rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
@media only screen and (max-width: 767px) {
    .headerSection .upperHeader .upperHeaderText .phoneText {
        width: 50%;
   }
}
.headerSection .upperHeader .upperHeaderText .emailSocialText {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 1000;
}
@media only screen and (max-width: 767px) {
    .headerSection .upperHeader .upperHeaderText .emailSocialText {
        width: 50%;
   }
}
.headerSection .upperHeader .upperHeaderText .emailSocialText .emailInfo {
    padding: 0 1rem 0 0;
    border-right: 1px solid white;
}
@media only screen and (max-width: 767px) {
    .headerSection .upperHeader .upperHeaderText .emailSocialText .emailInfo {
        border: none;
   }
}
.headerSection .upperHeader .upperHeaderText .emailSocialText .socialFlexContainer {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0 0 1rem;
}
.headerSection .upperHeader .upperHeaderText .emailSocialText .socialFlexContainer .socialIcon {
    padding: 0.25rem;
}
.headerSection .lowerHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}
.headerSection .lowerHeader .logoContainer {
    font-size: 2rem;
    font-weight: bold;
    color: orange;
}
@media only screen and (max-width: 820px) {
    .headerSection .lowerHeader .logoContainer {
        font-size: 1.7rem;
   }
}
.headerSection .lowerHeader .headerMenu {
    font-size: 1.25rem;
    display: flex;
    flex-flow: row nowrap;
    font-weight: bold;
    letter-spacing: 1px;
}
@media only screen and (max-width: 767px) {
    .headerSection .lowerHeader .headerMenu {
        position: absolute;
        display: none;
   }
}
@media only screen and (max-width: 820px) {
    .headerSection .lowerHeader .headerMenu {
        font-size: 1rem;
   }
}
.headerSection .lowerHeader .headerMenu li {
    padding: 0 0.5rem;
}
.headerSection .lowerHeader .headerMenu li:nth-schild(6) {
    padding: 0 0 0 0.5rem;
}
@media only screen and (max-width: 767px) {
    .noMobile {
        position: absolute;
        display: none;
        opacity: 0;
   }
}
