

/* CONTAINER ======= */
.introSection .introSectionContainer {
    margin-top: 12rem;
    margin-bottom: 13rem;
    display: flex;
    flex-flow: row wrap;
}
.introSection .introSectionContainer .leftColumn {
    width: 50%;
    position: relative;
}
.introSection .introSectionContainer .leftColumn .lgPlaceholder {
    width: 67%;
    height: 88%;
    background-color: green;
}
.introSection .introSectionContainer .leftColumn .smPlaceholder {
    width: 53%;
    height: 79%;
    position: absolute;
    right: 12%;
    top: 30%;
    background-color: orange;
    border: 1rem solid white;
}
.introSection .introSectionContainer .rightColumn {
    width: 50%;
}
.introSection .introSectionContainer .rightColumn .headerDiv {
    border-left: 0.5rem solid orange;
    margin-bottom: 2rem;
}
.introSection .introSectionContainer .rightColumn .headerDiv h6 {
    font-size: 1.25rem;
    color: gray;
    padding: 0.5rem 0 0.25rem 1.25rem;
}
.introSection .introSectionContainer .rightColumn .headerDiv h2 {
    font-size: 2.5rem;
    padding: 0.25rem 0 0.5rem 1.25rem;
    font-weight: bold;
}
.introSection .introSectionContainer .rightColumn .infoDiv {
    padding-bottom: 2.75rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.introSection .introSectionContainer .rightColumn .infoDiv p:nth-of-type(1) {
    color: #5a5959;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.introSection .introSectionContainer .rightColumn .infoDiv p {
    line-height: 1.5;
    color: gray;
}
.introSection .introSectionContainer .rightColumn .infoDiv .aboutBtn {
    font-weight: bold;
    color: orange;
    margin-top: 1.5rem;
    display: flex;
}
.introSection .introSectionContainer .rightColumn .infoDiv .aboutBtn i {
    margin-left: 0.5rem;
}
.introSection .introSectionContainer .rightColumn .quickInfo {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 3rem;
    padding: 2.5rem 0;
}
.introSection .introSectionContainer .rightColumn .quickInfo .quickInfoCard {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 34%;
}
.introSection .introSectionContainer .rightColumn .quickInfo .quickInfoCard i {
    padding: 1.2rem;
    font-size: 2rem;
    color: orange;
    padding: 1.2rem;
}
.introSection .introSectionContainer .rightColumn .quickInfo .quickInfoCard .quickInfoP {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.3;
}
.introSection .introSectionContainer .rightColumn .quickInfo .quickInfoCard .quickInfoBorder {
    border-right: 1px solid rgba(0, 0, 0, .1);
    height: 3rem;
    padding-right: 2rem;
}


/* MEDIA QUERIES ============================ */


@media only screen and (max-width: 1725px) {
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        /* width: 67%; */
        height: 85%;
    }
    .introSection .introSectionContainer .leftColumn .smPlaceholder {
        /* width: 53%; */
        height: 73%;
        /* right: 12%; */
    }
}
@media only screen and (max-width: 1610px) {
    .introSection .introSectionContainer {
        margin-top: 10rem;
    }
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        height: 77%;
    }
    .introSection .introSectionContainer .leftColumn .smPlaceholder {
        height: 65%;
    }
}
@media only screen and (max-width: 1530px) {
    .introSection .introSectionContainer {
        margin-top: 8rem;
    }
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        height: 72%;
    }
    .introSection .introSectionContainer .leftColumn .smPlaceholder {
        height: 60%;
    }
}
@media only screen and (max-width: 1460px) {
    .introSection .introSectionContainer {
        margin-top: 5.5rem;
    }
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        height: 67%;
    }
    .introSection .introSectionContainer .leftColumn .smPlaceholder {
        height: 55%;
    }
}
@media only screen and (max-width: 1303px) {
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        height: 62%;
    }
    .introSection .introSectionContainer .leftColumn .smPlaceholder {
        height: 50%;
    }
}
@media only screen and (max-width: 1265px) {
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        height: 57%;
    }
    .introSection .introSectionContainer .leftColumn .smPlaceholder {
        height: 46%;
    }
}
@media only screen and (max-width: 1220px) {
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        height: 54%;
    }
    .introSection .introSectionContainer .leftColumn .smPlaceholder {
        height: 42%;
    }
}
@media only screen and (max-width: 1105px) {
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        height: 49%;
    }
    .introSection .introSectionContainer .leftColumn .smPlaceholder {
        height: 37%;
        top: 27%;
    }
}
@media only screen and (max-width: 1097px) {
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        height: 45%;
    }
    .introSection .introSectionContainer .leftColumn .smPlaceholder {
        height: 36%;
        top: 22%;
    }
}
@media only screen and (max-width: 983px) {
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        height: 42.5%;
    }
    .introSection .introSectionContainer .leftColumn .smPlaceholder {
        height: 33%;
        top: 20%;
    }
}
@media only screen and (max-width: 940px) {
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        height: 40.5%;
    }
}
@media only screen and (max-width: 940px) {
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        height: 35%;
    }
    .introSection .introSectionContainer .leftColumn .smPlaceholder {
        height: 26%;
        top: 16%;
    }
}
@media only screen and (max-width: 849px) {
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        height: 30%;
    }
    .introSection .introSectionContainer .leftColumn .smPlaceholder {
        height: 23%;
        top: 14%;
    }
}
@media only screen and (max-width: 765px) {
    .introSection .introSectionContainer {
        margin-top: 3rem;
    }
    .introSection .introSectionContainer .leftColumn {
        width: 100%;
        height: 300px;
    }
    .introSection .introSectionContainer .leftColumn .lgPlaceholder {
        width: 67%;
        height: 100%;
    }
    .introSection .introSectionContainer .leftColumn .smPlaceholder {
        width: 53%;
        height: 100%;
        position: absolute;
        /* right: 12%; */
        /* top: 30%; */
    }
    .introSection .introSectionContainer .rightColumn {
        width: 100%;
    }
}