


/* PROJECTS SECTION */
.projectsSection {
    margin-bottom: 6rem;
}

/* NAVBAR */
.projectsSection .projectsNav {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

/* NAV HEADER */
.projectsSection .projectsHeader {
    border-left: 0.5rem solid orange;
    margin-bottom: 2rem;
}
.projectsSection .projectsHeader h6 {
    font-size: 1.25rem;
    color: gray;
    padding: 0.5rem 0 0.25rem 1.25rem;
}
.projectsSection .projectsHeader h2 {
    font-size: 2.5rem;
    padding: 0.25rem 0 0.5rem 1.25rem;
    font-weight: bold;
}

/* NAV BUTTONS */
.projectsSection .projectsNavBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.projectsSection .navBtns {
    display: flex;
    flex-flow: row;
    height: 2rem;
}
.projectsSection .projectsNavBtns .navBtns .projectButton {
    border: none;
    background-color: transparent;
    padding: .5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}

/* TILES */
.projectsSection .projectTiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.projectsSection .projectTiles .projectTile {
    position: relative;
    width: 390px;
    height: 275px;
    color: white;
    margin-bottom: 1rem;
}
/* BACKGROUND */
.projectsSection .projectTiles .projectTile .tilePhoto{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
}
/* HOVER TILE INFORMATION */
.projectsSection .projectTiles .projectTile .tileHoverPopup{
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    z-index: 6;
}
.projectsSection .projectTiles .projectTile .tileHoverPopup .tileContent{
    margin: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.365);
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.projectsSection .projectTiles .projectTile .tileHoverPopup .tileContent > h6{
    margin-bottom: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1rem;
    color: orange;
}
.projectsSection .projectTiles .projectTile .tileHoverPopup .tileContent > h2{
    margin-bottom: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

/* BOTTOM BORDER */
.projectsSection .projectTiles .projectTile .tileBottomBorder{
    width: 6rem;
    height: .5rem;
    border-bottom: 3px solid orange;
}