/* SECTION BACKGROUND */
.specialServicesSection{
    background: #FDA12B;
    color: white;
    padding: 4rem 0;
    margin: 6rem 0;
    position: relative;
    height: 31.65rem;
}

/* LEFT COLUMN */
.specialServicesSection .leftColumn {
    width: 50%;
}
.specialServicesSection .leftColumn .headerDiv {
    border-left: 0.5rem solid white;
    margin-bottom: 1rem;
}
.specialServicesSection .leftColumn .headerDiv > h4 {
    font-size: 1.25rem;
    color: gray;
    padding: 0.5rem 0 0.25rem 1.25rem;
}
.specialServicesSection .leftColumn .headerDiv > h2 {
    font-size: 2.5rem;
    padding: 0.25rem 0 0.5rem 1.25rem;
    font-weight: bold;
}
.specialServicesSection .leftColumn .headerInfo{
    margin-bottom: 2.5rem;
}
.specialServicesSection .leftColumn .headerInfo > .columnContent{
    line-height: 1.5;
}
.specialServicesSection .leftColumn .quickInfo .quickInfoCard{
    display: flex;
    flex-flow: row nowrap;
}
.specialServicesSection .leftColumn .quickInfo .quickInfoCard .infoIconContainer{
    border: 2px solid white;
    height: 4.45rem;
    margin: 0 1.2rem 0 0;
}
.specialServicesSection .leftColumn .quickInfo .quickInfoCard .infoIconContainer > i{
    padding: 1rem;
    font-size: 2.5rem;
}
.specialServicesSection .leftColumn .quickInfo .quickInfoCard .infoCardContent > h5{
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .85rem;
}
.specialServicesSection .leftColumn .quickInfo .quickInfoCard .infoCardContent .columnContent{
    line-height: 1.5;
    margin-bottom: 2rem;
    font-size: .9rem;
}

/* RIGHT COLUMN */
.specialServicesSection .imgContainer {
    position: relative;
    left: 50%;
    top: -36.5rem;
    height: 139.2%;
    width: 50%;
    background-color: green;
}


/* BREAKPOINTS */
/* @media only screen and (max-width: 1300px){
    .container{
        width: 1150px;
    }
}
@media only screen and (max-width: 1200px){
    .container{
        width: 1050px;
    }
}
@media only screen and (max-width: 1120px){
    .container{
        width: 950px;
    }
}
@media only screen and (max-width: 1000px){
    .container{
        width: 880px;
    }
}
@media only screen and (max-width: 920px){
    .container{
        width: 830px;
    }
}
@media only screen and (max-width: 865px){
    .container{
        width: 790px;
    }
}
@media only screen and (max-width: 820px){
    .container{
        width: 750px;
    }
}
@media only screen and (max-width: 768px){
    .container{
        width: 738px;
    }
}
@media only screen and (max-width: 767px){
    .container{
        width: 404px;
    }
}
@media only screen and (max-width: 400px){
    .container{
        width: 365px;
    }
} */