

.headerSection {
    background: white;
}

/* UPPER NAV */
.headerSection .upperMegaNav{
    display: flex;
    flex-flow: row;
    justify-content: center;
    background: #222222;
    color: #DEDEDE;
    font-size: 1.5rem;
    padding: .25rem 0;
}
.headerSection .upperMegaNav > p{
    border-right: 1px solid #ffffff3c;
    padding-right: 1rem;
}
.headerSection .upperMegaNav > a{
    padding-left: 1rem;
    color: #D90D43;
    text-decoration: none;
    font-family: monospace;
}

/* LOWER  NAV*/
.headerSection .lowerMegaNav{
    background: white;
}
.headerSection .lowerMegaNav .lowerNavContainer{
    padding: .5rem 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    /* CONTAINER WIDTH CONTROL */
    width: 90%;
    max-width: 1900px;
    margin: 0 auto;
}
.headerSection .lowerMegaNav .lowerNavContainer .logo{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: black;
    text-decoration: none;
}
.headerSection .lowerMegaNav .lowerNavContainer .menuContainer .menuNav{
    display: flex;
    flex-flow: row;
    font-size: 1.5rem;
}
.headerSection .lowerMegaNav .lowerNavContainer .menuContainer .menuNav .menuLink{
    margin-left: 1rem;
    padding: .1rem .5rem;
}
.headerSection .lowerMegaNav .lowerNavContainer .menuContainer .menuNav .menuLink:hover{
    background: #D90D43;
    color: white;
}

@media only screen and (max-width: 710px){
    .headerSection .lowerMegaNav .lowerNavContainer .menuContainer{
        display: none;
    }
}
