
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './reset.css';
/* INCLUDES */
@import './includes/megaNav.css';
@import './includes/footer.css';
/* HOME PAGE */
@import './homePage/jumboTron.css';
@import './homePage/cardSection.css';
@import './homePage/introSection.css';
@import './homePage/specialServices.css';
@import './homePage/projectsSection.css';
@import './homePage/aboutTeam.css';
/* PAGES */

body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 90%;
    max-width: 1900px;
    margin: 0 auto;
}

@media only screen and (max-width: 845px){
    .container{
        width: 95%;
    }
}
