
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
/* font-family: 'Play', sans-serif; */

/* INCLUDES */
@import './includes/megaNav.css';
@import './includes/mobileMenu.css';
@import './includes/footer.css';
/* HOME PAGE */
@import './homePage/jumboTron.css';
@import './homePage/cardSection.css';
@import './homePage/introSection.css';
@import './homePage/specialServices.css';
@import './homePage/projectsSection.css';
@import './homePage/aboutTeam.css';
/* PAGES */
@import './pages/aboutPage.css';
@import './pages/experiencePage.css';
@import './pages/projectsPage.css';
@import './pages/servicesPage.css';
@import './pages/team/teamPage.css';

body{
    font-family: 'Play', sans-serif;
    background: white;
}
.container{
    width: 90%;
    max-width: 1900px;
    margin: 0 auto;
}

.headerDiv {
    border-left: 0.5rem solid #D90D43;
    margin-bottom: 1rem;
    color: white;
    z-index: 6;
}
.headerDiv > h4 {
    font-size: 1.25rem;
    padding: 0.5rem 0 0.25rem 1.25rem;
    font-weight: 600;
}
.headerDiv > h2 {
    font-size: 2.5rem;
    padding: 0.25rem 0 0.5rem 1.25rem;
    font-weight: bold;
}

/* BREADCRUMBS */
.breadCrumbs{
    display: flex;
    flex-flow: row nowrap;
    font-size: 1rem;
    color: white;
    z-index: 6;
    position: relative;
    top: -2.5rem;
}
.breadCrumbs > *{
    margin-right: 1rem;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 845px){
    .container{
        width: 95%;
    }
}
