
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './reset.css';
@import './components/includes/megaNav.css';
@import './components/jumboTron.css';
@import './components/cardSection.css';
@import './components/introSection.css';
@import './components/specialServices.css';
@import './components/projectsSection.css';
@import './components/aboutTeam.css';
@import './components/includes/footer.css';

body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 90%;
    max-width: 1900px;
    margin: 0 auto;
}

@media only screen and (max-width: 845px){
    .container{
        width: 95%;
    }
}
