
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './reset.css';
@import './components/includes/megaNav.css';
@import './components/jumboTron.css';
@import './components/cardSection.css';
@import './components/introSection.css';
@import './components/specialServices.css';
@import './components/projectsSection.css';
@import './components/aboutTeam.css';
@import './components/includes/footer.css';

body{
    font-family: 'Work Sans', sans-serif;
}
/* .container{
    width: 1775px;
    margin: 0 auto;
} */
.container{
    width: 90%;
    max-width: 1900px;
    margin: 0 auto;
}

/* BREAKPOINTS */
/*
@media only screen and (max-width: 1900px){
    .container{
        width: 1750px;
    }
}
*/
/*
@media only screen and (max-width: 1800px){
    .container{
        width: 1650px;
    }
}
*/
/*
@media only screen and (max-width: 1700px){
    .container{
        width: 1550px;
    }
}
*/
/*
@media only screen and (max-width: 1600px){
    .container{
        width: 1450px;
    }
}
*/
/*
@media only screen and (max-width: 1500px){
    .container{
        width: 1350px;
    }
}
*/
/*
@media only screen and (max-width: 1400px){
    .container{
        width: 1250px;
    }
}
*/
/*
@media only screen and (max-width: 1300px){
    .container{
        width: 1150px;
    }
}
*/
/*
@media only screen and (max-width: 1200px){
    .container{
        width: 1050px;
    }
}
*/
/*
@media only screen and (max-width: 1120px){
    .container{
        width: 950px;
    }
}
*/
/*
@media only screen and (max-width: 1000px){
    .container{
        width: 880px;
    }
}
*/
/*
@media only screen and (max-width: 920px){
    .container{
        width: 830px;
    }
}
*/
/*
@media only screen and (max-width: 865px){
    .container{
        width: 790px;
    }
}
*/
/*
@media only screen and (max-width: 820px){
    .container{
        width: 750px;
    }
}
*/
/*
@media only screen and (max-width: 768px){
    .container{
        width: 738px;
    }
}
*/
/*
@media only screen and (max-width: 767px){
    .container{
        width: 404px;
    }
}
*/
/*
@media only screen and (max-width: 400px){
    .container{
        width: 365px;
    }
}
*/