


.aboutTeam {
    background-color: #222222;
    height:34rem;
    position: relative;
}
.aboutTeam .sectionDownshift{
    position: relative;
    top: 4.5rem;
}

/* TEAM HEADER */
.aboutTeam .aboutHeader {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 2rem;
}
.aboutTeam .headerDiv {
    border-left: 0.5rem solid #D90D43;
    margin-bottom: 1rem;
}
.aboutTeam .headerDiv > h4 {
    font-size: 1.25rem;
    color: white;
    padding: 0.5rem 0 0.25rem 1.25rem;
}
.aboutTeam .headerDiv > h2 {
    font-size: 2.5rem;
    padding: 0.25rem 0 0.5rem 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
.aboutTeam .headerInfo{
    margin-bottom: 2.5rem;
}
.aboutTeam .headerInfo > .columnContent{
    line-height: 1.5;
}

/* TEAM CONTENT */
.aboutTeam .teamIntro{
    display: flex;
    flex-flow: row;
    justify-content: center;
    height: 35rem;
}
.aboutTeam .teamIntro .teammate{
    margin: 0 .5rem;
    width: 355px;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.aboutTeam .teamIntro .teammate .teamPhoto{
    width: 100%;
    height: 80%;
    background: white;
    overflow: hidden;
    box-shadow: 0px 1px 27px -12px rgba(0, 0, 0, 0.75);
}
.aboutTeam .teamIntro .teammate > h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1.3rem 0 .35rem 0;
    color: #D90D43;
}
.aboutTeam .teamIntro .teammate > h6{
    font-size: .9rem;
    color: #D90D43;
}

/* BREAKPOINTS */

@media only screen and (max-width: 930px){
    .aboutTeam .aboutHeader {
        flex-flow: column;
        align-items: flex-start;
    }
}
@media only screen and (max-width: 800px){
    .aboutTeam {
        height: 81rem;
    }
    .aboutTeam .teamIntro {
        flex-flow: column;
        height: 80rem;
        align-items: center;
    }
    .aboutTeam .teamIntro .teammate {
        height: 38rem;
        margin: 0;
    }
}

