

/* PROJECTS SECTION */
.projectsSection {
    margin-bottom: 6rem;
    overflow: hidden;
}

/* NAVBAR */
.projectsSection .projectsNav {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

/* NAV HEADER */
.projectsSection .projectsNav .projectsHeader {
    border-left: 0.5rem solid orange;
    margin-bottom: 2rem;
}
.projectsSection .projectsNav .projectsHeader h6 {
    font-size: 1.25rem;
    color: gray;
    padding: 0.5rem 0 0.25rem 1.25rem;
}
.projectsSection .projectsNav .projectsHeader h2 {
    font-size: 2.5rem;
    padding: 0.25rem 0 0.5rem 1.25rem;
    font-weight: bold;
}
/* MOBILE NAV */
.projectsSection .projectsNav .mobileNav{
    display: none;
    opacity: 0;
    position: relative;
}
.projectsSection .projectsNav .mobileNav .navDrop{
    font-size: 2rem;
    border: 5px solid green;
    text-transform: uppercase;
    color: green;
    padding: 0 .5rem .5rem .5rem;
    height: 26px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    z-index: 6;
}
.projectsSection .projectsNav .mobileNav .navDrop:hover{
    height: 247.63px;
}

/* NAV BUTTONS */
.projectsSection .projectsNav .projectsNavBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.projectsSection .projectsNav .navBtns {
    display: flex;
    flex-flow: row wrap;
    height: 2rem;
}
.projectsSection .projectsNav .projectsNavBtns .navBtns .projectButton {
    border: none;
    background-color: transparent;
    padding: .5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
}


/* TILES */
.projectsSection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.projectsSection .projectTiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.projectsSection .projectTiles .projectTile {
    position: relative;
    width: 390px;
    height: 275px;
    color: white;
    margin: .3rem;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

/* NONACTIVE CLASS */
.projectsSection .projectTiles .projectTile.nonActive{
    width: 0;
    height: 0;
}

/* BACKGROUND */
.projectsSection .projectTiles .projectTile .tilePhoto{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    overflow: hidden;
}
.projectsSection .projectTiles .projectTile .tilePhoto > img{
    height: 100%;
}
/* HOVER TILE INFORMATION ======================================================*/
.projectsSection .projectTiles .projectTile .tileHover{
    position: relative;
    height: 120%;
    transition: all .23s ease-in-out;
    opacity: 0;
}
.projectsSection .projectTiles .projectTile .tileHover:hover{
    transform: translateY(-16.4%);
    opacity: 1;
}
.projectsSection .projectTiles .projectTile .tileHover .tileHoverPopup{
    position: absolute;
    width: 100%;
    height: 275px;
    display: flex;
    color: white;
    z-index: 6;
    bottom: 0;
}
.projectsSection .projectTiles .projectTile .tileHover .tileHoverPopup .tileShade{
    position: absolute;
    width: 100%;
    height: 275px;
    background: rgba(0, 0, 0, 0.767);
    z-index: 1;
}
.projectsSection .projectTiles .projectTile .tileHover .tileHoverPopup .tileContent{
    margin: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.365);
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.projectsSection .projectTiles .projectTile .tileHover .tileHoverPopup .tileContent > h6{
    margin-bottom: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1rem;
    color: green;
}
.projectsSection .projectTiles .projectTile .tileHover .tileHoverPopup .tileContent > h2{
    margin-bottom: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

/* BOTTOM BORDER */
.projectsSection .projectTiles .projectTile .tileBottomBorder{
    width: 6rem;
    height: .5rem;
    border-bottom: 3px solid orange;
}

/* ACTIVE - NONACTIVE */
.nonActive{
    display: none !important;
}


/* BREAKPOINTS */

@media only screen and (max-width: 1354px){
    .projectsSection .projectTiles .projectTile {
        width:374px;
    }
}
@media only screen and (max-width: 1295px){
    .projectsSection .projectTiles .projectTile {
        width: 32%;
    }
    .projectsSection .projectsNav .mobileNav{
        position: relative;
        display: initial;
        opacity: 1;
        margin-bottom: 2rem;
    }
    .projectsSection .projectsNav .projectsNavBtns{
        position: absolute;
        display: none;
        opacity: 0;
    }
}

@media only screen and (max-width: 1165px){
    .projectsSection .projectTiles .projectTile {
        width: 38%;
    }
}
@media only screen and (max-width: 1120px){
    .projectsSection .projectTiles .projectTile {
        width: 42%;
    }
}
@media only screen and (max-width: 1000px){
    .projectsSection .projectTiles .projectTile {
        width: 45%;
    }
}
@media only screen and (max-width: 950px){
    .projectsSection .projectTiles .projectTile {
        width: 48%;
    }
    .projectsSection .projectTiles .projectTile .tileHover{
        transform: translateY(-16.4%);
        opacity: 1;
    }
    .projectsSection{
        padding-bottom: 12rem;
    }
}
@media only screen and (max-width: 668px){
    .projectsSection .projectsNav {
        flex-flow: column;
    }
    .projectsSection .projectsNav .mobileNav .navDrop{
        position: initial;
    }
}
@media only screen and (max-width: 650px){
    .projectsSection .projectTiles .projectTile {
        width: 71%;
    }
}
@media only screen and (max-width: 550px){
    .projectsSection .projectTiles .projectTile {
        width: 81%;
    }
}
@media only screen and (max-width: 500px){
    .projectsSection .projectTiles .projectTile {
        width: 100%;
        margin: .3rem 0;
    }
}
@media only screen and (max-width: 450px){
    .projectsSection{
        margin: 11rem 0 4rem 0;
    }
    .projectsSection .projectsNav .mobileNav{
        position: relative;
    }
}

