/* SECTION BACKGROUND */
.specialServicesSection{
    background: #222222;
    color: white;
    padding: 6rem 0 4.5rem 0;
    margin: 6rem 0 5rem 0;
    position: relative;
    height: 31.65rem;
}

/* LEFT COLUMN */
.specialServicesSection .leftColumn {
    max-width: 44%;
}
.specialServicesSection .leftColumn .headerDiv {
    border-left: 0.5rem solid #D90D43;
    margin-bottom: 1rem;
}
.specialServicesSection .leftColumn .headerDiv > h4 {
    font-size: 1.25rem;
    padding: 0.5rem 0 0.25rem 1.25rem;
    font-weight: 600;
}
.specialServicesSection .leftColumn .headerDiv > h2 {
    font-size: 2.5rem;
    padding: 0.25rem 0 0.5rem 1.25rem;
    font-weight: bold;
}
.specialServicesSection .leftColumn .headerInfo > .columnContent{
    line-height: 1.5;
    font-size: 1.15rem;
    font-weight: 600;
}
.specialServicesSection .leftColumn .quickInfo .quickInfoCard{
    display: flex;
    flex-flow: row nowrap;
    padding: 3rem 0;
}
.specialServicesSection .leftColumn .quickInfo .quickInfoCard:nth-of-type(1){
    border-bottom: 1px solid rgba(255, 255, 255, 0.428);
}
.specialServicesSection .leftColumn .quickInfo .quickInfoCard .infoIconContainer{
    border: 2px solid #D90D43;
    height: 4.45rem;
    margin: 0 1.2rem 0 0;
    min-width: 82px;
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.specialServicesSection .leftColumn .quickInfo .quickInfoCard .infoIconContainer > i{
    padding: 1rem;
    font-size: 2.5rem;
    color: #D90D43;
}
.specialServicesSection .leftColumn .quickInfo .quickInfoCard .infoCardContent > h5{
    font-size: 1.65rem;
    font-weight: bold;
    margin-bottom: .85rem;
}
.specialServicesSection .leftColumn .quickInfo .quickInfoCard .infoCardContent .columnContent{
    line-height: 1.5;
}

/* RIGHT COLUMN */
.specialServicesSection .imgContainer {
    position: absolute;
    left: 50%;
    height: 47rem;
    width: 50%;
    top: -4.85rem;
    background-color: #015351;
    overflow: hidden;
}
.specialServicesSection .imgContainer > img {
    width: 100%;
}


/* BREAKPOINTS */

@media only screen and (max-width: 1905px){
    .specialServicesSection .imgContainer > img {
        height: 100%;
        width: initial;
    }
}
@media only screen and (max-width: 1775px){
    .specialServicesSection .leftColumn {
        max-width: 46%;
    }
    .specialServicesSection .leftColumn .quickInfo .quickInfoCard{
        padding: 2rem 0;
    }
}
@media only screen and (max-width: 1200px){
    .specialServicesSection{
        padding: 6rem 0 0 0;
    }
    .specialServicesSection .leftColumn {
        max-width: 100%;
    }
    .specialServicesSection .imgContainer {
        display: none;
    }
}
@media only screen and (max-width: 767px){
    .specialServicesSection{
        height: 64rem;
        margin: 0 0 7rem 0;
        padding: 3rem 0 0 0;
    }
    .specialServicesSection .imgContainer {
        display: initial;
        left: 0%;
        top: 53.5%;
        width: 100%;
        height: 34.5rem;
    }
    .specialServicesSection .imgContainer > img{
        height: initial;
        width: 100%;
    }
}
@media only screen and (max-width: 713px){
    .specialServicesSection .imgContainer > img{
        height: 102%;
        width: initial;
    }
}
@media only screen and (max-width: 523px){
    .specialServicesSection{
        height: 69rem;
        margin: 0 0 5rem 0;
    }
}
@media only screen and (max-width: 420px){
    .specialServicesSection{
        height: 68rem;
    }
    .specialServicesSection .imgContainer {
        top: 61.5%;
    }
}




